<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
  <title>Twitter Analytics</title>
  <script type="text/javascript">

  function ajax(data, url, method="POST", content="application/json") {
    const xhttp = new XMLHttpRequest();
    xhttp.open(method, url, true);
    xhttp.setRequestHeader("Content-type", content);
    xhttp.send(data);
    xhttp.onreadystatechange = () => {
      if (xhttp.readyState == 4 && xhttp.status == 200) {
        callback(xhttp.response);
        return xhttp.response;
      }
    };
  }

  let ajax_response = '';

  function callback(data) {
    ajax_response = JSON.parse(data);
  }

  function add_user_and_follows(url) {
    const xhttp = new XMLHttpRequest();
    xhttp.open(method, url, true);
    xhttp.setRequestHeader("Content-type", "text/plain");
    xhttp.send(data);
    xhttp.onreadystatechange = () => {

      if (xhttp.readyState == 4 && xhttp.status == 200) {
        console.log(xhttp.response);
      }
    };
  }

  </script>
  </head>
  <body>
    <div id="header">
      <div id="logo"><a href="/">Twitter Analytics</a></div>
      <div id="menu">
        <a {{ 'class="active"' | safe if active_page=='trends' }} href="/trends">Trends</a>
        <a {{ 'class="active"' | safe if active_page=='users' }} href="/users">Users</a>
        <a {{ 'class="active"' | safe if active_page=='tweets' }} href="/tweets">Tweets</a>
        <a {{ 'class="active"' | safe if active_page=='settings' }} href="/settings">Settings</a>
      </div>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
